/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

$tono-principal: rgb(229, 229, 229);
$tono-principal2: #025402;
$tono-secundario: #41ce60; // el fondo y todo el acompañamiento
$tono-resalto: red; // botones y pequeños objetos
$tono-letras: black;

/* General: */
body {
  //background-image: url("grinch-wallpaper3.png");
  background-color: $tono-secundario;
}

div {
  margin: 2px;
  padding: 2px;
}

// Debugger (No cambiar)
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $tono-letras
}
p{
  color: $tono-letras;
  font-size: 1.1em;
  line-height: 1.7em;
}
label{
  color: $tono-letras;
}


/* Header */


.link-header{
  color: $tono-secundario
}

.navbar-fixed-top{
  background: $tono-principal;
}


.logos ul{
  padding: 0;
  list-style: none;
  float: right;
}

.titulo{
  color: $tono-resalto;
  font-size: 30pt;
  font-weight: bold;
  letter-spacing: -1px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.slogan{
  color: $tono-resalto;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: -1px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.img-with-text{
  text-align: justify;
  width: 120px;
}

.img-with-text img{
  display: block;
  margin: 0 autp;
  border-radius: 50%;
}

.img-with-text ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-with-text li{
  display: inline-block;
}
#searchbutton{
  color: red;
}

.content{
  background-color: $tono-principal;
}
/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: darkgray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* Otros de Beehive (seguramente nos servira despues, cambia lo que sea necesario). */
.btn_link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  text-align: left;
  background: $tono-resalto;
  transition: 0.3s;
  /* When you mouse over the navigation links, change their color */
  &:hover {
    color: white;
    background: black;
  }
}

.description{
  text-align: left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
