<footer class="footer">
  <small>
    Z-Mobile<br>
    by Raimundo Gonzalez
  </small>
  <nav>
    <ul>
      <small>
        Call Center: +569 98114308<br>
        Address: San Carlos de Apoquindo 2200
      </small>
    </ul>
  </nav>
</footer>