<!DOCTYPE html>

<div class="container">
  <button type="button">Handsets</button>
  <button type="button">Dolls</button>
  <button type="button">Prepay Options</button>
  <button type="button">Subscriptions</button>
</div>