<!DOCTYPE html>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class = "logos">
      <li><%= link_to "Z-Mobile", root_path, class: 'titulo' %></li>
    </div>
  </div>
</div>
<div>
  <li><%= link_to "Sign up", new_user_path %></li>
  <li><%= link_to "Log in", new_user_path %></li>
</div>
